.vscode
.vs
.idea
bin
obj/Release
obj/Debug
build
WebErp.Api/obj
WebErp.Api/bin
WebErp.Domain/obj
WebErp.Domain/bin
WebErp.Infra/obj
WebErp.Infra/bin
WebErp.Clients/obj
WebErp.Clients/bin
WebErp.Shared/obj
WebErp.Shared/bin
WebErp.Test/obj
WebErp.Test/bin
WebErp.Api/Properties/PublishProfiles
.gitlab-ci.yml
WebErp.Clients/obj/Debug/netcoreapp3.1/WebErp.Clients.csprojAssemblyReference.cache
WebErp.Api/appsettings.Development.json
